/*Magic card*/
.custom-card {
  width: auto;
  height: 254px;
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.custom-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0 0.3rem;
}

.custom-card-img {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-20%);
  position: relative;
  transition: all 0.3s ease-in-out;
}

/*Text*/
.custom-text-title {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #42caff;
  letter-spacing: 0.05rem;
}

.custom-text-body {
  font-size: 0.8em;
  text-align: center;
  color: #6f6d78;
  font-weight: 400;
  font-style: italic;
}

/*Hover*/
.custom-card:hover .customcard-img {
  --size: 110px;
  width: var(--size);
  height: var(--size);
}
